@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, .header {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-image: url("IMG_20190224_144544.jpg");
    background-size: cover;
    position: relative;
}

.header {
    background-image: url("IMG_8570.jpg");

}

.header .head-col {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-size: 100%; */
    background: linear-gradient(to top, #474220, 30%, transparent);
}

.head-col h1 {    
    padding-top: 10%;
    font-size: 85px;
    font-family: 'Dancing Script', cursive, 'Times New Roman', Times, serif;
    text-align: center;
    color: #474220;
}

.container {
    width:100vw;
}

#con1 {
    padding: 50px;
    background: linear-gradient(#474220, 50%, black);
}

#con2{
    height: 800px;
    background: linear-gradient(to bottom, black, 20%, transparent);
    padding: 50px;
}

#con1 .block, #con2 .block {
    padding: 10px;
    border-radius: 20px;
    background: #f5f5f526;
    /* display: block; */
    height: 100%;
}

#con1 .block {
    display: flex;
}

#con1 .block .about_me {
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 75%;
}

#con1 .block .about_me {
    font-size: medium;
}

#con1 .block img {
    display: block;
    width: 25%;
    border-radius: 20px;
}

#con2 .social {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#con2 .social a {
    width: 30%;
    color: whitesmoke;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}








