@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}


body, .header {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-image: url("IMG_20190224_144544.jpg");
    background-size: cover;
    position: relative; 
    width: 100%; 
    height: 100%; 
}



.header {

    background-image: url("IMG_8570.jpg");
    min-width: 100%;
    height: 800px;
}

.header .head-col {
    position: absolute;
    min-width: 100%;
    height: 100%;
    /* background-size: 100%; */
    background: linear-gradient(to top, #474220, 30%, transparent);
}

.head-col h1 {    
    padding-top: 10%;
    font-size: 85px;
    font-family: 'Dancing Script', cursive, 'Times New Roman', Times, serif;
    text-align: center;
    color: #474220;
}

.contains_box {
    width: 100%;

    /* border: 4px solid black; */
}

#con1 {
    background: linear-gradient(#474220, 50%, black);
    padding: 50px 0 50px 0;
}

#con2{
    height: 800px;
    background: linear-gradient(to bottom, black, 40%, transparent);
}

.contains_box {
    width: 100%;
}

.block {
    margin-bottom: 20px;
    margin: 0 auto;
    width: 90%;
    /* display: block; */
    height: 100%;
    border-radius: 20px;
    background: #f5f5f526;
}

#con1 .block {
    display: flex;
}

#con1 .block .about_me {
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 75%;
}


#con1 .block img {
    border: 2px solid black;
    display: block;
    width: 25%;
    border-radius: 20px;
}



#con2 .social {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

#con2 .social a {
    margin: 10px;
    width: 90%;
    color: whitesmoke;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px 0 10px 0;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    /* margin-left: 20px;
    margin-right: 20px; */
    text-align: center;
}


@media (max-width: 800px) {
    .container {
        position: absolute;
    }

    #con1 .block {
        display: flex;
        flex-direction: column;
    }

    #con1 .block .about_me {
        margin: 20px auto 20px auto;
    }
    
    /* #con1 .block .about_me {
        background: #f5f5f526;
        padding: 10px;
        margin-left: 10px;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        width: 75%;
    } */
    
    
    #con1 .block img {
        margin-top: 20px;
        width: 80%;
        border: 2px solid black;
        display: block;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .block {
        width: 100%;
        border-radius: 0;
        background: #f5f5f526;

    }
    #con2 .social {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #con2 .social a {
        margin: 10px auto;
    }


}  







